/* You can add custom styles here. */

// @import "plugins/numbered";
.clipboard-btn {
  position: absolute;
  right: 0;
  padding: 4px;
  margin: 9px;
  height: 32px;
}
.highlight {
  position: relative;
}
pre {
  margin: 6px 0px 0px 0px !important;
  padding: 0px !important;
}
h1 {
  margin-top: 0px;
}
textarea {
  width: 100%;
  background-color: #FFF;
  color: #000;
}
.menu-header {
  margin-top: 1.8em;
  margin-bottom: 0.6em;
}
summary {
  padding-right: 136px !important;
}
body {
  word-wrap: break-word;
}