<textarea class="textarea-tjr form-control" id="tjr" rows="6" placeholder="Результат выполнения команды W/TA*[PCC]"></textarea>

<a href="#" class="book-btn" onclick="check();return false;">Проверить настройки</a>

<blockquote id="tjr-alert-error" class="book-hint danger" style="display: none;"></blockquote>
<blockquote id="tjr-alert-ok" class="book-hint info" style="display: none;"></blockquote>

<table class="table" id="tjr-results-table"></table>

<script type="text/javascript">
  function check() {
    var settings = [
    {code: 'ALDUPT', string: 'ALERT TO PREVENT DUPLICATE TICKETING - ON', name: 'Alert to Prevent Duplicate Ticketing (Предупреждение об оформлении дубликатов билетов)', link: '#alert-to-prevent-duplicate-ticketing-предупреждение-об-оформлении-дубликатов-билетов', default: true},
    {code: 'C35IT', string: 'TICKET CAT 35 IT/BT PQ FARE ALLOWED', name: 'Allow Ticket CAT 35 IT/BT PQ Fare (Оформление билетов по сохраненным в PQ приватным тарифам без перерасчета)', link: '#allow-ticket-cat-35-itbt-pq-fare-оформление-билетов-по-сохраненным-в-pq-приватным-тарифам-без-перерасчета', default: true},
    {code: 'AZA', string: 'AUTOMATIC SEGMENT ARRANGE - ON', name: 'Auto Segment Arrangement (Автоматическое упорядочивание сегментов в бронированиях)', link: '#auto-segment-arrangement-автоматическое-упорядочивание-сегментов-в-бронированиях', default: true},
    {code: 'AUTOER', string: 'AUTO-ER  - ON', name: 'Automatically End Transaction and Redisplay the PNR at Ticketing (Автоматическое сохранение бронирований и повторное их открытие при оформлении билетов)', link: '#automatically-end-transaction-and-redisplay-the-pnr-at-ticketing-автоматическое-сохранение-бронирований-и-повторное-их-открытие-при-оформлении-билетов', default: false},
    {code: 'AUTOEND', string: 'AUTO-END - ON', name: 'Automatically End Transaction at Ticketing (Автоматическое сохранение бронирований при оформлении билетов)', link: '#automatically-end-transaction-at-ticketing-автоматическое-сохранение-бронирований-при-оформлении-билетов', default: true},
    {code: 'MTKTP', string: 'MULTI-TICKET SHOPPING AND PRICING ACTIVE', name: 'Multi-Ticket Shopping and Pricing (Поиск перелетов с оформлением на нескольких билетах)', link: '#multi-ticket-shopping-and-pricing-поиск-перелетов-с-оформлением-на-нескольких-билетах', default: true},
    {code: 'PNAPNR', string: 'PASSENGER NAME ASSOCIATION FOR PNR FIELDS - ON', name: 'Passenger Name Association (Привязка элементов бронирования к пассажирам)', link: '#passenger-name-association-привязка-элементов-бронирования-к-пассажирам', default: true},
    {code: 'PQT', string: 'PRICE RETENTION TKTG ALERT', name: 'Price Retention Ticketing Alert (Предупреждение об изменении стоимости билетов)', link: '#price-retention-ticketing-alert-предупреждение-об-изменении-стоимости-билетов', default: false},
    {code: 'TKM', string: 'TICKETING ALERT PASSPORT/DOB - ACTIVE', name: 'PSPT Warning Message (Предупреждение об отсутствии паспортов в бронировании)', link: '#pspt-warning-message-предупреждение-об-отсутствии-паспортов-в-бронировании', default: false},
    {code: 'RVCTVC', string: 'RESTRICT VAL CARRIER TO TRADITIONAL VAL CARRIER - ON', name: 'Restrict Validating Carrier to Traditional Validating Carrier (Традиционная логика выбора валидирующего перевозчика)', link: '#restrict-validating-carrier-to-traditional-validating-carrier-традиционная-логика-выбора-валидирующего-перевозчика', default: false},
    {code: 'PT', string: 'PSGR TYPE - ON', name: 'Store Passenger Type in PNR (Хранение категорий пассажиров в бронированиях)', link: '#store-passenger-type-in-pnr-хранение-категорий-пассажиров-в-бронированиях', default: true},
    {code: 'TKTPQ', string: 'TICKET USING PQ FARE ALLOWED', name: 'Ticket from Stored Fare (Оформление билетов по сохраненным PQ без перерасчета)', link: '#ticket-from-stored-fare-оформление-билетов-по-сохраненным-pq-без-перерасчета', default: true},
    {code: 'MULTIPQ', string: 'TICKET USING MULTIPLE PQ ACTIVE', name: 'Ticket Using Multiple PQ (Оформление билетов по нескольким PQ)', link: '#ticket-using-multiple-pq-оформление-билетов-по-нескольким-pq', default: false},
    {code: 'TFOP', string: 'TWO FORMS OF PAYMENT ALLOWED', name: 'Two Forms of Payment (Оформление билетов с двумя формами оплаты)', link: '#two-forms-of-payment-оформление-билетов-с-двумя-формами-оплаты', default: true},
    {code: 'ETU', string: 'UNUSED ETR DISPLAY ON', name: 'Unused Electronic Ticket Report (Формирование отчета о неиспользованных билетах)', link: '#unused-electronic-ticket-report-формирование-отчета-о-неиспользованных-билетах', default: true},
    {code: 'VITA', string: '?', name: 'Validating Carrier, Interline, and GSA (Новая логика выбора валидирующего перевозчика)', link: '#validating-carrier-interline-and-gsa-новая-логика-выбора-валидирующего-перевозчика', default: true}];

    var settingWithResults = [];

    var pcc = '';

    var tjr = document.getElementById('tjr').value;
    var errorAlert = document.getElementById('tjr-alert-error');
    var okAlert = document.getElementById('tjr-alert-ok');
    var resultsTable = document.getElementById('tjr-results-table');

    errorAlert.style.display = 'none';
    okAlert.style.display = 'none';
    resultsTable.innerHTML = '';
    resultsTable.style.display = 'none';

    settings.map(setting => document.getElementById(setting.code).innerHTML = '');

    function displayErrorAlert(innerHTML) {
      errorAlert.innerHTML = innerHTML;
      errorAlert.style.display = 'block';
    }

    function transformBoolean(value) {
      if (value === true) {
        return 'Да';
      } else if (value === false) {
        return 'Нет';
      } else {
        return 'Неизвестно';
      }
    }

    function returnRow(setting) {
      var style = "background-color: #dff0d8;";
      if (setting.default !== setting.result) {
        style = "background-color: #f2dede;";
      }
      return `<tr style="${style}"><td><a href="${setting.link}">${setting.name}</a></td><td>${transformBoolean(setting.default)}</td><td>${transformBoolean(setting.result)}</td></tr>`;
    }

    function returnRows() {
      var innerHTML = '';
      settingWithResults.forEach(function(setting) {
        innerHTML = innerHTML + returnRow(setting);
      });
      return `<tbody>${innerHTML}</tbody>`;
    }

    if (tjr === '') {
      displayErrorAlert('Отсутствует результат выполнения команды <code>W/TA*[PCC]</code>.'); 
    } else if (tjr.indexOf('END LIST') === -1) {
      displayErrorAlert('Результат выполнения команды <code>W/TA*[PCC]</code> вставлен не до конца или некорректно.');
    } else {
      pcc = tjr.substr(tjr.indexOf('PCC- ') + 5, 4);
      settings.map(setting => {
        if (setting.code === 'VITA') {
          setting.result = null;
          document.getElementById(setting.code).innerHTML = `<i>(в PCC ${pcc} необходимо проверить состояние настройки)</i>`;
        } else if(tjr.indexOf(setting.string) > -1) {
          document.getElementById(setting.code).innerHTML = `<i>(в PCC ${pcc} настройка включена)</i>`;
          setting.result = true;
        } else {
          document.getElementById(setting.code).innerHTML = `<i>(в PCC ${pcc} настройка отключена)</i>`;
          setting.result = false;
        }
        settingWithResults.push(setting);
      });
      okAlert.innerHTML = 'Проверка успешно завершена.';
      okAlert.style.display = 'block';
      resultsTable.innerHTML = `<thead><tr><th>Название настройки</th><th>Рекомендуется включить</th><th>Включена в PCC ${pcc}</th></tr></thead>${returnRows()}`;
      resultsTable.style.display = 'block';
    }
  }
</script>