/* CSS for website */
.navigation-prev, .navigation-next {
  display: none !important;
}

.page-inner {
  margin: 0 !important;
}

.normal {
  padding-left: 23px !important;
  padding-right: 23px !important;
}

.book .book-header h1 {
  padding: 0px !important;
}

.book .book-body .page-wrapper .page-inner {
  max-width: none !important;
}

.book-summary {
	width: 320px !important;
}