/* CSS for website */
.navigation-prev, .navigation-next {
  display: none !important;
}

.page-inner {
  margin: 0 !important;
}

.normal {
  padding-left: 23px !important;
  padding-right: 23px !important;
}

a.btn.pull-left.js-toolbar-action {
  padding-left: 23px;
  border: 0px;
}

.book .book-header h1 {
  padding: 0px !important;
}

.book-header {
  padding-left: 15px;
}

.book .book-body .page-wrapper .page-inner {
  max-width: none !important;
}

.book-summary {
	width: 330px;
	left: -330px;
}

@media (min-width: 600px) {
.book.with-summary .book-body {
    left: 330px !important;
}}

.textarea-tjr {
	width: 100%;
	overflow:hidden;
	font-size:14px;
	line-height: normal;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.td-tjr {
	width: 50%;
}

#tjr-alert-error, #tjr-alert-ok, #tjr-results-table, #tjr-results-label {
	display: none;
}

.panel-title {
  margin: 0px !important;
  font-size: 1em;
}

.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  font-weight: 700;
  cursor: pointer;
}

.XML {
  margin-bottom: 0px !important;
}

.panel-image, .XML, .panel-heading {
  padding: .5em .75em !important;
}

.panel-body {
  padding: 0px !important;
}

.toggle-angle {
  line-height: 1.7;
  font-weight: 700 !important;
}

.clipboard-button {
  position: absolute;
  right: -1px;
  top: 0px;
  border-top-right-radius: 0px;
  border-color: #ddd;
  opacity: 0.8;
}

.collapse {
  position: relative;
}

.session {
  font-weight: bold;
  color: #808080;
}

.token {
  font-weight: bold;
  color: #0000ff;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
  padding: 4px 15px;
}

.book-summary ul.summary li.header {
  padding: 10px 15px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.anchorjs-link {
  color: #333 !important;
  text-decoration: none !important;
}

table {
  display: block !important;
  overflow-x: auto !important;
}