/* CSS for website */
.navigation-prev, .navigation-next {
  display: none !important;
}

.page-inner {
  margin: 0 !important;
}

.normal {
  padding-left: 23px !important;
  padding-right: 23px !important;
}

.book .book-header h1 {
  padding: 0px !important;
}

.book .book-body .page-wrapper .page-inner {
  max-width: none !important;
}

.book-summary {
	width: 330px !important;
}

@media (min-width: 600px) {
.book.with-summary .book-body {
    left: 330px !important;
}}

.textarea-tjr {
	width: 100%;
	overflow:hidden;
	font-size:14px;
	line-height: normal;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.td-tjr {
	width: 50%;
}

#tjr-alert-error, #tjr-alert-ok, #tjr-results-table, #tjr-results-label {
	display: none;
}